@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4" > 
            <AuthorizeView>
                <Authorized>
                    <label>@context.User.Identity?.Name </label>

                    <div class="nav-item px-3">
                        <form action="Account/Logout" method="post">
                            <AntiforgeryToken />
                            <input type="hidden" name="ReturnUrl"/>
                            <button type="submit" class="btn btn-outline-danger">
                                Cerrar sesión
                            </button>
                            
                            @*
                            <a class="btn btn-outline-danger" action="Account/Logout" aria-hidden="true">

                                Cerrar sesion
                            </a>
                            *@
                        </form>
                    </div>
                  


                    
                   
                </Authorized>

                <NotAuthorized>
                    <a class="btn btn-outline-primary" href="Account/Login">
                        Iniciar Sesión
                    </a>
                </NotAuthorized>
            </AuthorizeView>

          
            
        </div>

       

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
